<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<servers>
		<server>
			<id>jfrog-mirror</id>
			<username>${env.JFROG_USER}</username>
			<password>${env.JFROG_TOKEN}</password>
		</server>
	</servers>
	<mirrors>
		<mirror>
			<id>jfrog-mirror</id>
			<name>JFrog Artifactory Maven mirror</name>
			<url>${env.JFROG_BASE_URL}/artifactory/${env.MAVEN_REPOSITORY}</url>
			<mirrorOf>*</mirrorOf>
		</mirror>
	</mirrors>
</settings>
